@import "tailwindcss";

@theme {
  --color-primaryBG: #090421;

  --font-poppins: Poppins, sans-serif;

  --animate-orbit-float: orbit-float 20s ease-in-out infinite;

  @keyframes orbit-float {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-48%, -52%) scale(1.05);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  --animate-bg-pulse: bg-pulse 18s ease-in-out infinite;
  @keyframes bg-pulse {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }
    50% {
      transform: scale(1.12);
      opacity: 0.9;
    }
    100% {
      transform: scale(1);
      opacity: 0.6;
    }
  }

  --animate-bot-float: bot-float 6s ease-in-out infinite;
  @keyframes bot-float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-14px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
